.music {
    outline: 1px solid #ddd;
    border-top: 2px solid #fff;
    margin: 5px;
    padding: 10px;
    background-color: rgb(59, 176, 111);
    border-radius: 10px;
}

.title {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}