.song {
    position: relative;
    outline: 1px solid #ddd;
    border-top: 2px solid #fff;
    margin-top: 10px;
    padding: 10px;
    background-color: lightseagreen;
    display: flex;
    border-radius: 5px;
}

.song img {
    box-sizing: border-box;
    width: 100px;
    border: white solid;
}

.title {
    margin: 10px;
    color: white;
}

.info {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.info a {
    color: white;
}