.menu {
    box-sizing: border-box;
    border: white double;
    height: 150px;
    margin: 5px;
    padding: 10px;
    grid-area: menu;
    background: cornflowerblue;
    border-radius: 5px;
}
.title {
    text-align: center;
    text-shadow: 1px 1px white;
}

.item {
    text-align: center;
}

.item a {
    color: white;
}

.item a.active {
    color: blue;
}