.home {
    outline: 1px solid #ddd;
    border-top: 2px solid #fff;
    margin: 5px;
    padding: 10px;
    background: orchid;
    border-radius: 10px;
}

.title {
    text-align: center;
    text-shadow: 1px 1px white;
}