.header {
    margin: 5px;
    padding: 10px;
    outline: 1px solid #ddd;
    border-top: 2px solid #fff;
    grid-area: header;
    text-align: center;
    background: brown;
    border-radius: 5px;
}

.header img {
    width: 100px;
    filter: drop-shadow(0px 2px 0px white);
}

.title {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
}